.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    margin: 10px 30px 10px 30px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.supportContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}